nbproject\private\*
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbproject/private/private.properties
nbproject/private/config.properties
nbproject/private/private.xml
build.xml
nbproject/private/private.properties
build.xml
nbproject/project.properties
